<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-8 p-5">
          <h4 class="mb-5 text-center">復活申請完了</h4>
          <p>
            ただいま手続き中です。</br>
            お時間を空けて再度アクセスをお試しくださいませ。
          </p>
        </div>
      </div>

    </div>
  </div>
</div>