<div class="container">
  <div class="row my-4">
    <div class="col-md-8 p-5">
      <h4 class="mb-5 text-center">アカウント復活確認</h4>
      <p>
        こちらのメールアドレスは、退会手続きが完了しています。<br>
        アカウントを復活させますか？
      </p>
      <div class="row mt-3">
        <div class="col-md-6 mt-3 mx-auto">
          <%= link_to "復活を申請する", complete_path, class: "btn btn-outline-success btn-sm btn-block" %>
          <%= link_to "復活させない", root_path, class: "btn btn-outline-secondary btn-sm btn-block" %>
        </div>
      </div>

    </div>
  </div>
</div>