<% post.comments.each do |comment| %>
  <div class="row mt-3 border-bottom">
    <div class="col-2">
      <%= link_to comment.customer.name, admin_customer_path(comment.customer), class: "link" %>
    </div>
    <div class="col-7"><%= comment.comment %></div>
    <div class="col-2"><%= comment.created_at.strftime('%y.%m.%d') %></div>
    <div class="col-1">
      <%= link_to admin_post_comment_path(comment.post, comment), method: :delete, remote: true, data: { confirm: "本当に削除しますか？"}, class: "link" do %>
      <i class="fa-solid fa-delete-left" aria-hidden="true"></i>
    <% end %>
    </div>
  </div>
<% end %>