<% posts.each do |post| %>
  <div class="col-md-4 mb-3">
    <div class="card">
      <%= image_tag post.image, class: "image" %>
      <div class="card-img-overlay text-white">
        <div class="card-title">
          <u><%= link_to post.title, post_path(post), class: "text-light" %></u>
        </div>
        <p class="card-text">
          <%= post.show_date.strftime('%y.%m.%d') %>
        </p>
      </div>
      <% if customer_signed_in? %>
        <div class="card-footer">
          <%= render 'public/likes/like_btn', post: post %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>