<% messages.each do |message| %>
  <div class="row mt-3 border-bottom">
    <div class="col-2"><%= message.created_at.strftime('%y.%m.%d') %></div>
    <div class="col-7"><%= message.message %></div>
    <div class="col-2">
      <u><%= link_to message.customer.name, customer_path(message.customer), class: "link" %></u>
      <% if message.customer.official == true %>
        <i class="fa-regular fa-circle-check" aria-hidden="true"></i>
      <% end %>
    </div>
    <% if message.customer == current_customer %>
      <div class="col-1">
        <%= link_to message_path(message), method: :delete, remote: true, data: { confirm: "本当に削除しますか？"}, class: "text-dark" do %>
          <i class="fas fa-backspace" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>