// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* favoriteとmeの枠 */
.box {
  height: 100%;
  border: 2px solid rgba(233, 84, 100, 0.1);
  background-color: #fffffc;
  border-radius: 5px;
}