<% post.comments.sort.reverse.each do |comment| %>
  <div class="row mt-3 border-bottom">
    <div class="col-2">
      <u><%= link_to comment.customer.name, customer_path(comment.customer), class: "link" %></u>
      <% if comment.customer.official == true %>
        <i class="fa-regular fa-circle-check" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="col-7">
      <% if comment.score.to_d < 0 %>
        🐶 🐶 🐶
      <% else %>
        <%= comment.comment %>
      <% end %>
    </div>
    <div class="col-2"><%= comment.created_at.strftime('%y.%m.%d') %></div>
      <% if comment.customer == current_customer %>
        <div class="col-1">
          <%= link_to post_comment_path(comment.post, comment), method: :delete, remote: true, data: { confirm: "本当に削除しますか？"}, class: "text-dark" do %>
            <i class="fas fa-backspace" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>