<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">

      <div class="row">
        <div class="col-md-8 p-5">
          <h4>フォロー 一覧</h4>
        </div>
      </div>

    </div>
  </div>
</div>