<div class="container">
  <div class="row my-4">
    <div class="col-md-10 mb-3 p-5 text-center">

      <div class="row">
        <div class="col-12">
          <h3 class="mb-3">初めてのお客様へ</h3>
          <p>当サイトは、</p>
          <p>ライブ・舞台・ミュージカルといった”生”で体感するジャンルに焦点を当て、</p>
          <p>観劇後の感想を投稿、共有できるSNSサイトです。</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4">
          <p>
            今日の感動を<br>
            書き留めたい<br>
            <%= image_tag 'line.PNG', width: "100%" %>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            あの日の余韻に<br>
            浸りたい<br>
            <%= image_tag 'line.PNG', width: "100%" %>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            他の席からは<br>
            どう見えてたかな<br>
            <%= image_tag 'line.PNG', width: "100%" %>
          </p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <p>そんな想いを、叶える場所に。</p>
        </div>
      </div>

    </div>

    <div class="col-md-10 p-5">
      <h4 class="mb-3 text-center">
        ご利用してくださるみなさまへ、大切なお願いがあります。
      </h4>
      <div class="col-8 mx-auto">
        <p>
          <i class="far fa-hand-point-up" aria-hidden="true"></i>&emsp;
          セットリストや演出のネタバレはやめましょう。
        </p>
        <p>
          <i class="far fa-hand-point-up" aria-hidden="true"></i>&emsp;
          あたたかい心とやさしい気持ちで、楽しい場所にしましょう。
        </p>
      </div>
    </div>

  </div>
</div>