<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto my-5 text-center">
      <p class="notice"><%= notice %></p>
      <h3>ご来店ありがとうございました。</h3>
      <h3>またのご利用をお待ちしております。</h3>
    </div>
  </div>
</div>