<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-10 mb-3 p-5">
          <h4 class="mb-3">本日のおすすめ</h4>

          <div class="col-10 mx-auto">
            <div class="row">
              <%= render 'public/posts/index', posts: @likes_rank %>
            </div>

            <div class="row mt-3">
              <div class="col-12 text-right">
                <%= link_to posts_path, class: "text-dark" do %>
                  すべての投稿を見る&emsp;<i class="fas fa-forward" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>

          </div>

        </div>

        <% if customer_signed_in? %>
          <div class="col-md-10 p-5">
            <h4 class="mb-3">タイムライン</h4>
            <% if @time_line.count == 0 %>
              <p>表示できる投稿はまだありません。</p>
            <% else %>
              <div class="col-10 mx-auto">
                <div class="row post-list">
                  <%= render 'public/posts/index', posts: @time_line %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>