<div class="container">
  <div class="row my-4">
    <div class="col-md-10 p-5 text-center">
      <h3 class="mb-5">いらっしゃいませ</h3>

      <div class="row text-center">
        <div class="col-md-3 mx-auto p-1">
          <%= link_to 'ゲストログイン(閲覧用)', guestuser_path, method: :post, class: "btn btn-outline-dark btn-block" %>
        </div>
        <div class="col-md-3 mx-auto p-1">
          <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-info btn-block" %>
        </div>
        <div class="col-md-3 mx-auto p-1">
          <%= link_to "サインアップ", new_customer_registration_path, class: "btn btn-outline-success btn-block" %>
        </div>
      </div>

    </div>
  </div>
</div>