<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto my-3">

      <div class="row my-3">
        <div class="col-md-8">
          <h4>本日の新着投稿</h4>
          <p>count</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h4>管理</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <ul>
            <li><%= link_to "ジャンル", admin_genres_path %></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>