/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background-color: #abced8;
  color: #ab6953;
}

main {
  background-color: #f8f4e6;
  background-size: auto auto;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 31px, rgba(233, 84, 100, 0.1) 31px, rgba(233, 84, 100, 0.1) 32px ),
                    repeating-linear-gradient(0deg, transparent, transparent 31px, rgba(233, 84, 100, 0.1) 31px, rgba(233, 84, 100, 0.1) 32px );
}

.col-md-8, .col-md-10 {
  height: 100%;
  margin: 0 auto;
  background-color: #fbfaf5;
  border-radius: 50px;
}

footer {
  width: 100%;
  padding: 30px 0;
  margin-top:  auto;
  text-align: center;
  background-color: #abced8;
  color: #ab6953;
}

/* リンク */
.link {
  text-decoration: none;
  color: #343a40;
}

/* aboutのまる */
.maru {
  width: 13em;
  height: 13em;
  background-color: rgba(252, 200, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ページネーション */
.page, .first, .prev, .next, .last {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page.current {
  width: 40px;
  height: 40px;
  background-color: rgba(233, 84, 100, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 画像 */
.image {
  width: 150px;
  height: 130px;
  object-fit: cover;
}